<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html"></head>
<body>
<div class="container">
    <div th:replace="fragments/header.html"></div>
    <div class="columns m-1">
        <h5>Adding new todo note</h5>
    </div>
    <div class="columns">
        <div class="column col-4 m-1">
            <form id="edit-form" name="note" th:action="@{/note/add}" method="post">
                <div class="form-group">
                    <label class="form-label" for="note-description">Description</label>
                    <textarea class="form-input" type="text" id="note-description"
                              name="description" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-label" for="note-priority">Priority</label>
                    <select class="form-input" type="text" id="note-priority"
                           name="priority">
                        <option th:each="priority : ${priorities}"
                                th:value="${priority.key}"
                                th:text="${priority.value}"
                                th:selected="${priority.key==2}"
                        ></option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Save" />
                    <a class="btn" th:href="@{/}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>